<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/css/aboutus-styles.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text"> We consist Maeve, Srija, Harin, Adrian, and Andres and we form team Cow-people representing the Accenture-Dallas office  </p>
                    <p class="aboutus-text"> Our team name is an ode to the lone-star state. However, we found the term cowboys to unintentionally exclude the female representation within our team, so we came up with a more inclusive name: Cowpeople. mooooo</p>
                    <a class="aboutus-more" href="#">read more</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="" id="cowgirl">
                    <img id ="cows" src="https://animalogic.ca/wp-content/uploads/2018/05/shutterstock_481623085.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>