<html>

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/css/journal-styles.css" rel="stylesheet">

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
</head>
<body>


<h1 class="text-center"> Log your emotions!</h1>

<h3 class="text-center"> Here's a wheel of emotions to help you express yourself </h3>
<div class="container text-center">
    <img id="emotion-wheel" src="http://www.etc.cmu.edu/projects/emotionshop/wp-content/uploads/2015/10/emotion-wheel.jpg">
</div>
<div class="container">
    <div class="well">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placekitten.com/150/150">
            </a>
            <div class="media-body">
                <h4 class="media-heading"> Rejection</h4>
                <p class="text-right">Adrian</p>
                <p>My life is brilliant.
                    My love is pure.
                    I saw an angel.
                    Of that I'm sure.
                    She smiled at me on the subway.
                    She was with another man.
                    But I won't lose no sleep on that,
                    'Cause I've got a plan.

                    You're beautiful. You're beautiful.
                    You're beautiful, it's true.
                    I saw your face in a crowded place,
                    And I don't know what to do,
                    'Cause I'll never be with you.</p>
                <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                    <li>|</li>
                    <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                    <li>|</li>
                    <li>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </li>
                    <li>|</li>
                    <li>
                        <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                        <span><i class="fa fa-facebook-square"></i></span>
                        <span><i class="fa fa-twitter-square"></i></span>
                        <span><i class="fa fa-google-plus-square"></i></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placekitten.com/150/150">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Redemption</h4>
                <p class="text-right">By Adrian</p>
                <p>Oft, when my spirit doth spread her bolder wings,
                    In mind to mount up to the purest sky;
                    It down is weighed with thought of earthly things,
                    And clogged with burden of mortality;
                    Where, when that sovereign beauty it doth spy,
                    Resembling heaven’s glory in her light,
                    Drawn with sweet pleasure’s bait, it back doth fly,
                    And unto heaven forgets her former flight.
                    There my frail fancy, fed with full delight,
                    Doth bathe in bliss, and mantleth most at ease;
                    Ne thinks of other heaven, but how it might
                    Her heart’s desire with most contentment please.
                    Heart need not wish none other happiness,
                    But here on earth to have such heaven’s bliss.</p>
                <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                    <li>|</li>
                    <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                    <li>|</li>
                    <li>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </li>
                    <li>|</li>
                    <li>
                        <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                        <span><i class="fa fa-facebook-square"></i></span>
                        <span><i class="fa fa-twitter-square"></i></span>
                        <span><i class="fa fa-google-plus-square"></i></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>

</html>

